.App {
  text-align: center;
}

* {
  font-family: 'Roboto Slab', serif;
}

body {
  background-image: url(https://abhinav-project-bucket.s3.ap-south-1.amazonaws.com/wp.jpg);
}

input {
  outline: none;
  border-radius: 5px;
}