.App {
  text-align: center;
}

* {
  font-family: 'Roboto Slab', serif;
}

body {
  background-image: url(https://project-bucket-be.s3.ap-south-1.amazonaws.com/back.jpeg);
}

input {
  outline: none;
  border-radius: 5px;
}