#containerCanvas {
    line-height: 0;
}

.parentContainer {
    display: flex;
    justify-content: center;
}

.containerToolBar {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    margin-top: 8px;
}

#chatContainer {  
    margin-left: 8px;
    width: 340px;
    min-width: 340px;
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#playerList {
    background-color: white;
    min-width: 190px;
    margin: 0px 6px 0px 0px;
}

#can {
    border: 1px solid;
    background-color: white;
}

.color-white {
    color:white;
}

.gameScreen {
    margin:0px 100px;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
}